/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/
@keyframes scale-heart {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.25);
  }

  100% {
    transform: scale(1);
  }
}

/* Анимация искр */
@keyframes sparks-fade {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 100px;
  font-family: var(--font-main, system-ui);
  background-image: var(--complex-background);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  max-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: 'wght' var(--card-text-weight);
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--content-width-header);
  margin-block-start: var(--header-margin);
  margin-block-end: var(--header-margin);
  border: 2px solid var(--contour-color);
  background-color: var(--stroke-color);
  min-block-size: 368px;
}

.header__content {
  width: 100%;
}

.logo {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: var(--font-accent);
  text-align: center;
}

.logo__title {
  margin: 0;
  font-weight: var(--card-text-weight);
  font-size: var(--logo__title-font-size);

}

.logo__subtitle {
  display: block;
  font-weight: var(--card-text-weight);
  font-size: var(--logo__subtitle-font-size);
  text-transform: uppercase;
}

/* card_section */

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 54px;
  width: var(--content-width-card);
}

.card_section {
  width: calc(100% + 4px);
  border: 2px solid var(--contour-color);
  background-color: var(--stroke-color);
}

.card_title {
  padding-inline: 10px;
  padding-block: 3px;
  font-size: var(--card-title-font-size);
  font-variation-settings: 'wght' 700;
}

.image-wrapper {
  position: relative;
  display: inline-block;
}

.card_img {
  display: block;
  width: 100%;
  mix-blend-mode: hard-light;
  aspect-ratio: 1 / 1;
}

.image-label {
  position: absolute;
  z-index: 1;
  opacity: 0.5;
  font-family: var(--font-accent);
  font-size: 14px;
  line-height: 100%;
  text-transform: uppercase;
  text-shadow: 0px 0px 4px var(--stroke-color);
  inset-inline-end: 25px;
  inset-block-start: 25px;
  mix-blend-mode: hard-light;
}

@supports (-webkit-text-stroke: 1px var(--stroke-color)) or (text-stroke: 1px var(--stroke-color)) {
  .image-label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--stroke-color);
    text-stroke: 1px var(--stroke-color);
  }
}

.text_block {
  display: flex;
  flex-direction: column;
  gap: 27px;
  padding-inline: 25px;
  padding-block: 25px 0px;
}

.card_text {
  font-size: var(--card-text-font-size);
}

.section_btn {
  display: flex;
  justify-content: end;
  gap: 4px;
}

.card__like-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 38px;
  margin-inline-end: 25px;
  margin-block: 25px;
  border: 2px solid var(--contour-color);
  padding: 0px;
  font-family: var(--font-accent);
  font-size: 14px;
  background-color: var(--stroke-color);
  cursor: pointer;
}

.card__icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-block: 25px;
  border: 2px solid transparent;
  padding: 0;
  background-color: transparent;
  transition: var(--contour-color) 0.3s ease;
  cursor: pointer;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--contour-color);
}

.contour {
  fill: var(--contour-color);
  transition: fill 0.3s linear;
}

.main-body,
.core {
  fill: none;
  transition: fill 0.3s ease;
}

.like-icon:hover .core {
  fill: var(--contour-color);
  transition: fill 0.3s ease;
}

.like-icon:hover .main-body {
  fill: var(--contour-color);
  transition: fill 0.3s ease 0.05s;
}

.like-icon:not(:hover) .core {
  fill: none;
  transition: fill 0.3s ease 0.03s;
}

.like-icon:not(:hover) .main-body {
  fill: none;
  transition: fill 0.3s ease;
}

.card__icon-button:active .core,
.card__icon-button:active .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s ease;
}

.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s ease;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s ease 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transition: fill 0.3s ease 0.11s;
}

.like-icon.is-liked .heart {
  animation: scale-heart 0.3s ease-in 0.1s forwards;
}

.like-icon.is-liked .sparks {
  animation: sparks-fade 0.3s ease-in 0.3s forwards;
}

.like-icon:not(.is-liked) .contour {
  fill: var(--contour-color);
  transition: fill 0.1s linear;
}

.sparks {
  opacity: 0;
}

/* Другая кнопка */
.card__save {
  display: flex;
  gap: 8px;
  width: 335px;
  height: 51px;
  margin: auto 0;
}

.diskette {
  display: flex;
  align-items: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

dialog.custom-dialog:not([open]) {
  display: none;
}

dialog.custom-dialog[open] {
  position: fixed;
  inset: 0;
  display: grid;
  place-items: center;
  width: 357px;
  height: 193px;
  border: none;
  padding: 0;
}

/* Задний слой */
dialog::backdrop {
  background: rgba(0, 0, 0, 0.75);
}

/* Внутреннее содержимое */
.dialog-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 30px;
  background: var(--stroke-color);
}

.dialog-section {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 20px;
}

/* Кнопка OK */
.dialog-ok {
  width: 293px;
  height: 38px;
}

/* фильтры */
.card-beginning {
  filter: brightness(1.2);
}

.card-doubt {
  filter: contrast(1.8);
}

.card-chase {
  filter: blur(4px);
}

.card-help {
  filter: sepia(0.4);
}

.card-strategy {
  filter: opacity(0.8);
}

.card-patience {
  filter: grayscale(0.5);
}

.card-arrival {
  filter: hue-rotate(150deg);
}

.card-reflection {
  filter: invert(0.3) saturate(1.5) blur(0.5px);
}

.button:focus {
  box-shadow: 2px 2px 0px 0px var(--contour-color);
  transition: 0.3s ease;
}

.button {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  background-color: var(--contour-color);
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
}

.button:hover::before {
  transform: scaleX(1);
}

.button__text {
  position: relative;
  z-index: 1;
  color: var(--stroke-color);
  font-family: var(--font-accent);
  font-size: 14px;
  line-height: 150%;
  transition: color 0.5s ease-in-out;
  mix-blend-mode: difference;
}

/* Эффекты кнопок */

@media (width <=375px) {
  .page {
    min-inline-size: 375px;
  }

  .header {
    min-inline-size: 375px;
  }

  .main {
    min-inline-size: 375px;
  }

  .card_title {
    padding-block: 4px;
  }

  .card__save {
    display: flex;
    flex-direction: column;
    width: 306px;
    height: 84px;
  }

  .diskette {
    width: 28px;
    height: 28px;
  }

  dialog.custom-dialog[open] {
    width: 341px;
    height: 195px;
  }

  .dialog-ok {
    width: 257px;
    height: 38px;
  }
}