:root {
  /* Шрифты */
  --font-main: 'Inter', sans-serif;
  --font-accent: 'PressStart2P', cursive;

  /* Текст */
  --text-weight-normal: 400;
  --text-weight-bold: 700;
  --text-size-default: 18px;
  --text-size-title: 18px;

  /* Фоны */
  --bg-image: url(../images/background.png);
  --bg-complex:
    repeating-linear-gradient(to right,
      #d3d3d3,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px),
    repeating-linear-gradient(to bottom,
      #d3d3d3,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px),
    linear-gradient(to bottom,
      #e7e7e7 0.01%,
      #1a1a1a 100%);

  /* Отступы и размеры */
  --header-margin: 100px;
  --content-width-header: clamp(100%, 90vw, 700px);
  --content-width-card: clamp(100%, 90vw, 696px);

  /* Логотип */
  --logo-title-size: clamp(49px, 43.5px + 1.5vw, 65px);
  --logo-subtitle-size: clamp(14px, 2vw, 23px);
  --logo-line-height: 1.2;

  /* Цвета */
  --color-stroke: white;
  --color-contour: black;
  --color-animation-fill: #FF0000;
}